@font-face {
    font-family: 'RobotoRegular';
    src: url(./fonts/Roboto/Roboto-Regular.ttf) format('truetype')
}

@font-face {
    font-family:'RobotoItalic';
    src: url(./fonts/Roboto/Roboto-ThinItalic.ttf) format('truetype')
}

*{
    font-family: 'Roboto-Regular'sans-serif;
}

#section-1{
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    height: 350px;
}
header{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    padding-top: 5px;
}
.header-logo{
    text-decoration: none;
    font-size: 24px;
    color: #F9FAF8;
}
.nav-links{
    display: flex;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 3rem;
}
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 5rem;
}
.hero-section h2{
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 0;
}
.hero-section sub{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}
.hero-section button{
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10%;
    width: 4rem;
}
.hero-img{
    display: flex;
    width: 30%;
    height: 200px;
    background-color: dimgrey;
    color: #e5e7eb;
    align-items: center;
    justify-content: center;
}
#section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.information-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 21%;
}
.information-title{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}
.information-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.information-square{
    border-style: solid;
    border-width: 1px;
    border-color: #3882f6;
    border-radius: 10%;
    width: 80px;
    height: 80px;

}
.information-text{
    color: #1F2937;
    font-size: 10px;
}
#section-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.quote-text{
    font-family:'RobotoItalic', Courier, monospace;
    font-size: 36px;
    width: 37%;
}
.quote-author{
    position: relative;
    left: 360px;
    bottom: 50px;
}
#section-4{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882f6;
    width: 40%;
    margin: auto;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 25px;
}
.call-container{
    margin-right: 5px;
    line-height: 10px;
}
.call-title{
    margin-bottom:0px;
    color: #F9FAF8;
}
.call-text{
    margin-top: 0px;
    color: #E5E7EB;
}
.call-button{
    background-color: #3882f6;
    border-color: #e5e7eb ;
    color: #e5e7eb;
    border-radius: 10%;
    width: 4rem;
}
footer{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    height: 50px;
}
footer span{
    color: #E5E7EB ;
}